NODE_ENV=development # production/development

PORT=8000

REDIS_HOST='localhost'
REDIS_PORT='6379'
REDIS_PASSWORD='giang'

# release room after it has no connected clients for this many seconds (default in code: 3600 = 1 hour)
EMPTY_ROOM_TIMEOUT=3600

# write some logs to files
LOG_TO_FILES=false # true/false
ERROR_LOG_PATH=logs/error.log
COMBINED_LOG_PATH=logs/combined.log